<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="{{ images['icon'] }}" type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>Password Generator</title>

		{% for sheet in stylesheets %}
			<link rel="stylesheet" href="{{ sheet }}" type="text/css">
		{% endfor %}

		{% if inline_style %}
			<style>{{ inline_style | safe }}</style>
		{% endif %}
	</head>
	<body class="text-center">
		<main class="passgen w-100 m-auto">
			<form>
				<fieldset>
					<legend>Password Generator</legend>

					<div class="form-floating">
						<input type="password"
						       id="seed"
						       placeholder="Master password"
						       class="form-control">
						<label for="seed">
							Master password
						</label>
					</div>

					<div class="form-floating">
						<input id="keyword"
						       type="text"
						       autocorrect="off"
						       autocapitalize="off"
						       placeholder="Site name or keyword"
						       class="form-control">
						<label for="keyword">
							Site name or keyword
						</label>
					</div>

					<div class="form-group m-1">
						<button id="generate"
						        class="btn btn-primary form-control">
						        Generate
						</button>
					</div>

					<input id="result"
					       type="text"
					       autocorrect="off"
					       autocapitalize="off"
					       class="form-control">
				</fieldset>
			</form>
		</main>

		{% for script in scripts %}
			<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}

		{% if inline_script %}
			<script>{{ inline_script | safe }}</script>
		{% endif %}
	</body>
</html>
